PORT=4000
RENDER_API_KEY=rnd_95aELoLYxJhUZZrebx95ahy0FTVW
RENDER_SERVICE_ID=srv-d75ce8ea2pns73dm2h60
RENDER_SERVICE_NAME=render-kopru-paneli-backend
Nekot_Buhtig=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
GITHUB_OWNER=salihchelebi
GITHUB_REPO=waw
GITHUB_BRANCH=main