PORT=4000
RENDER_API_KEY=ornek-render-api-key
RENDER_SERVICE_ID=srv-xxxxxxxx
RENDER_SERVICE_NAME=ornek-servis
GITHUB_TOKEN=ornek-github-token
GITHUB_OWNER=ornek-kullanici
GITHUB_REPO=ornek-repo
GITHUB_BRANCH=main
